@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap');
:root {
    --primary: #B9CFE3;
    --accent: #418084;

}
html, body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
  

 
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;



    font-family: 'Work Sans', sans-serif;
     overflow-y: auto;
    overflow-x: hidden;
}

ul{
    color: black;
    list-style-type: none; 
}
.cover{
    display: none;
}

.cover-enable{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, .4);
}

.navbar {   
    padding: 24px;
    margin: 0;
    height: fit-content;
    

    .logo {
        text-decoration: none;
        font-weight: 600;
        color: black;
        font-size: 24px;
        letter-spacing: -0.02em;
        }    
    .mobile-menu-open{
        float: right;
        padding-top: 6px;
        cursor: pointer;
        width: 23px;
        height: 16px;
    }
    nav{
        transform: translate(100vw);
        display: none;
         box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        height: 100vh;
        transition: .5s;
        background-color:white;
        padding: 21px 24px 54px 27px;
        border-radius: .7em 0 0 .7em;
        z-index: 9999;
    }

    nav.enable{
        display: block;
    }
   

    .nav-logo{
        padding: 0;
        margin: 0;
        font-weight: 600;
        letter-spacing: -0.02em;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
    }
    .divider{  
        border-bottom: 1px solid #7BB9B0;
        padding-top: 28px;
    }
    
    .nav-container{
        padding:0;
    }
    ul{
        margin-top : 24px;
    }

    li{
        margin-bottom: 24px;
        
 
        a{
            
            font-family: 'Inter', sans-serif;;
            color: black;
            text-decoration: none;
            font-size: 14px;
            padding-left: 2px;
            padding-bottom:6px;
            font-weight: 500;
            letter-spacing: -0.02em;

            &:hover{
                border-bottom: solid #006C66 2px;
                
            }
            
        }
        .current{
            font-weight: 700;
        }
    }

    .nav-contacts{   
        position: absolute;
        bottom: 54px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width:fit-content;
    
        .fb-icon, .mail-icon{
        padding-left: 13.18px;
        }
    }

    .nav-cta{
    padding: 13px 44px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background-color: #418084;
    color: white;
    border-radius: 10px;
    position: absolute;
        bottom: 104px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width:fit-content;

    }
}
    
.mobile-menu-exit {
    float: right;
    cursor: pointer;
    margin-top: 7px;
    }

.main{
    box-sizing: border-box;
    width: 100vw;
    background: linear-gradient(17deg, var(--primary) calc(20px + 45%)  , white  calc(20px + 45%));
    padding: 42px 39px 20px 24px;
    flex-grow: 1;


    .main-text{ 
        box-sizing: border-box;
        padding: 0;
        margin: auto;
        font-size: calc(30px + 1.5vw);
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.02em;
        text-align: center;
        max-width: 500px;

            span{
                color: #418084 ;
            }
    }


    .text{
        height: 5.5vh;
        position: absolute;
        left: 0;
        right: 0;
        height: fit-content;
        margin: 41px auto 72px;
        padding:0;
        font-weight: 400;
        font-size: calc(8.2px + 1.5vw);
        line-height: 18.42px;
        letter-spacing: -0.02em;
        max-width: 259px;
        &::before{
            content: '';  
            position: absolute;
            background-color: #6AAFA7 ;
            width: 6px;
            height: 95%;
            top: 2px;
            left: -20px;
        }
    }
   
    .schedule{
        display: block;
        margin: 200px auto 42px;
        width: 50.5vw;
        min-width: 274px;
        
    }

    .cta{
        margin: 0 0 17px 0;
        padding:0;
        font-family: 'Inter';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: -0.02em;
    }


    #mc_embed_signup{
        
        padding:0;
        
        .mc-field-group{
            display: block;
            margin: 0 auto;
            #mce-EMAIL{
                padding: 0;
                height: 36px;
                color: #696969;
                border-radius: .5em 0 0 .5em;
                border: none;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
            }
        .subcont{
            display: flex;
            #mc-embedded-subscribe{
                background-color: #ED1F1F;
                height:36.5px;
                padding: 0 10px ;
                margin-top: -.4px;
                width: fit-content;
                border-radius: 0em .5em .5em 0;
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                appearance: none;
            }
        }
        }
        
        form{
            padding:0;
            margin: 0;
        }

        }

        .main-contacts{
            display: none;
        }
    }

    
  












@media only screen and ( min-width:840px){

    .mobile-menu-exit, .mobile-menu-open, .black-cover, .nav-logo, .nav-contacts, .nav-cta, .divider{
        display: none;
    }

    .navbar {
 
        .container{
            display: grid;
            grid-template-columns: 180px auto;
            margin: 0;
            padding: 0;
            }

        nav{
            display: flex !important;
            background: none;
            position: unset;
            height: auto;
            width: 100%;
            padding: 0;
            justify-content: flex-end; 
            margin: 0;
            transform: translate(0px) !important;

            ul{
                display: flex;
                margin: auto 0;
                padding:0;
                span{
                    margin-left: 0em;
                }

                li{
                    transition-duration: 0.4s;
                    transition-property: text-decoration;
                    margin: 0;
                    .current{
                        font-weight: bold;
                    }
                    &:hover{
                        font-weight: normal;
                    }  
                
                    a{
                        padding: 0 0 0 0;
                        margin-left: 70px;
                        margin-left: 4.3vw;
                        color: black;
                        text-decoration: none;
                        font-family: 'Inter';
                        font-weight: 500;
                        font-size: Clamp(18px, 1.2vw, 1.2vw );  

                    }
               
                }
            }
        }
    }

    .main{
        .main-text{
            text-align: center;
            max-width: 500px;
        }

        .text{
            position: absolute;
            left: 0;
            right: 0;
            margin: 41px auto;
            padding:0;
            font-weight: 400;
            font-size: calc(8.2px + 1.5vw);
            line-height: 27px;
            letter-spacing: -0.02em;
            max-width: 350px;

        
        }
        
        .schedule{margin-top: 200px;}
    
        .cta{
            margin-left: 25px;
        }

        .main-contacts{
            display: none;
        }
    }

}















@media only screen and ( min-width:1080px){
    
    .navbar{
        padding-right: 7.9vw;
        padding-left: 5.5vw;
        padding-top: 4.8vh;
        padding-bottom: 2.4vh;

        .logo{
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 2vw;
            line-height: 56px;
            letter-spacing: -0.02em;
            z-index: 999;
        }
        .nav-container{
            align-items: center;
        }
    }

    .main{
        box-sizing: border-box;
        background: linear-gradient(to top,  var(--primary) 35vh,  white 35vh);
        padding-left: 6vw;
        padding-right: 3.4vw;
        padding-top: 4.5vh;
        height: 87.1vh;
        background-repeat: no-repeat;
        
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 3.2fr .8fr 1fr 1fr;
       
        
        .main-text{
        //grid-area: topleft;
        grid-area: 1 / 1 / 2 / 2;
        
        text-align: left;
        margin:  5vh 0 0 0;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 3.3vmax;
        line-height: 120%;
        letter-spacing: -0.02em;
        max-width: 30vw;
        height: fit-content;
        }


        .text{
            position: relative;
            grid-area: 2 / 1 / 3 / 2; 

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            margin: 3vh 0 0 4vw;
            font-size: 1.3vw;
            letter-spacing: -0.02em;
            max-width: 25vw;
            margin-bottom: 30px;
            &::before{
                content: '';  
                position: absolute;
                background-color: #6AAFA7 ;
                width: 6px;
                height: 95%;
                top: 2px;
                left: -20px;
                }
        }
        
      

        .schedule{
            //grid-area: right;
            grid-area: 1 / 2 / 4 / 3;
            justify-self: flex-end;
            margin:0 ;
            padding: 0;
            width: 50.5vmax;
            max-width: initial;
        }

        .cta{
            //grid-area: botleft;
            grid-area: 3 / 1 / 4 / 2;
            align-self:flex-end;
            margin: 0 0 0 0;
            padding:0;    
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 1.6vw;
            line-height: 1.2em;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            max-width: 34vw;
          

        }
    
    
        #mc_embed_signup{
            //grid-area: botleft;
            grid-area: 4 / 1 / 5 / 2; 
            padding:0;
            .mc-field-group{
                display: block;
                margin: 2vh 0 0 0;
                padding: 0;
                max-width: 35vw;
                .subcont{
                    display: flex;
                    height: 7.5vh;
                    #mce-EMAIL{
                        padding: 0;
                        height: 100%;
                        color: #696969;
                        border-radius: .5em 0 0 .5em;
                        border: none;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 1.4vw;
                        line-height: 29px;
                        letter-spacing: -0.02em;
                    }
              
                    #mc-embedded-subscribe{
                        background-color: #ED1F1F;
                        height: 101%;
                        padding: 0 20px ;
                        border-radius: 0 .5em .5em 0;
                        border: none;
                        font-family: 'Inter';
                        font-weight: 700;
                        font-size: 1.4vw;
                        line-height: 29px;  
                        transition-duration: initial;    
                    }

                    
                }
               
            }
            #mce-responses{
                margin-top: 20px;
                font-size: 20px;
            }
            
            form{
                padding:0;
                margin: 0;
            }
            
        }

        .main-contacts{
            display: initial;
            padding-top: 2vh;
            grid-area: 5 / 1 / 6 / 2; 
            width:fit-content;

            img{
                width: 2.5vw;
            }
            .fb-icon, .mail-icon{
            padding-left: 13.18px;
            }
        }
    }
}

